*{
	box-sizing : border-box;
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
}

.wrap{
	width: 1000px;
	margin: 0 auto 0 auto;
}

.header{
	width: 1000px;
	height: 100px;
	background: black;
}

.column1{
	width: 200px;
	height: 500px;
	background: orange;
	float: left;
}

.column2{
	width: 500px;
	height: 500px;
	background: pink;
	float: left;
}

.column3{
	width: 300px;
	height: 500px;
	background: blue;
	float: left;
}